.mui-text-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.button-group {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-top: 32px;
}